#booking_confirm_class_form > table:after {
  content: "By clicking confirm, I agree to Active Monash terms and conditions and privacy policy.";
  display: block;
  position: relative;
  bottom: 170px;
  left: 70px;
  font-weight: bold;
  color: #000 !important;
  width: 665px;
  text-align: center;
}

#confirm_submit {
  position: relative;
  right: 150px;
  margin-bottom: 50px;
  margin-top: 100px;
}

#cancel_submit {
  position: relative;
  margin-bottom: 50px;
  margin-top: 100px;
}
